<style>

    .state {
      fill: #ddf;
      stroke: #ffd;
      stroke-linejoin: round;
    }

    .state:hover{
        fill: #ccf;
        stroke: #520;
        cursor: pointer;
        z-index: 99999;
    }

    #mapbox{
        height: 700px;
        width: 980px;
    }

    #mapwrap{
        border: thin solid #fef;
    }
</style>


<div class="container">

    <section id="mapwrap">


            <svg id="mapbox"></svg>


    </section>

</div>

<script src="{{ '/assets/js/charts/nationMap.js?v=' | append: site.github.build_revision | relative_url }}"></script>

