<!--
    http://bl.ocks.org/d3netxer/10a28b7aee406f4e7fce
    https://bl.ocks.org/GerardoFurtado/71a700b656a69b45fd2037e38180254a
 -->

{% assign entity_id = include.entity_id %}


<style>

.chart{
    width: 100%;
    height: 100%;
}

.chart-wrap{
    width: 100%;
    height: 350px;
}

.chart.daily-counts.confirmed{
    border: thin solid #f9f9f9;

}

.chart.daily-counts.confirmed .dot{
    fill: green;
    stroke: #eee;
}

.chart.daily-counts.confirmed .line{
    fill: none;
    stroke: hotpink;
    stroke-width: 2;
}

</style>

<div class="chart-wrap">
    <svg class="chart daily-counts confirmed" id="svg-daily-counts-confirmed-chart-{{entity_id}}"></svg>
</div>



<script>
    console.log("Daily entity_id: ", "{{entity_id}}")

    var elId = 'svg-daily-counts-confirmed-chart-{{entity_id}}';
    dailyCounts.renderConfirmed('{{entity_id}}', elId)
</script>
