
<!--
https://bl.ocks.org/mbostock/c69f5960c6b1a95b6f78
 -->

{% assign entity_id = include.entity_id %}


<style>

.chart{
    width: 100%;
    height: 100%;
}

.chart-wrap{
    width: 100%;
    height: 350px;

}


.chart.daily-change .dot{
    fill: orange;
    stroke: #eee;
}



</style>


<div class="chart-wrap">
    <svg class="chart daily-change" id="svg-daily-change-confirmed-chart-{{entity_id}}"></svg>
</div>




<script>

   dailyChange.renderConfirmed('{{entity_id}}', 'svg-daily-change-confirmed-chart-{{entity_id}}')
</script>
