{% assign records = include.records | reverse  %}

<table class="table table-sm table-striped" id="daily-table-{{entity_id}}">
    <thead>
        <tr>
            <th>Date</th>
            <th>Confirmed</th>
            <th>Deaths</th>
        </tr>
    </thead>

    <tbody>
    {% for row in records  %}
        <tr>
            <td>{{ row.date | short_date }}</td>
            <td>{{ row.confirmed }}</td>
            <td>{{ row.deaths }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

