
<!--
https://bl.ocks.org/mbostock/c69f5960c6b1a95b6f78
 -->

{% assign abbr = include.abbr %}


<style>

.chart{
    width: 100%;
    height: 100%;
}

.chart-wrap{
    width: 100%;
    height: 350px;

}

.chart.daily-change{
    border: thin solid red;
}


.chart.daily-change .dot{
    fill: orange;
    stroke: #eee;
}

.chart.daily-change .line{
    fill: none;
    stroke: hotpink;
    stroke-width: 2;
}

</style>
<script src="https://d3js.org/d3.v5.min.js"></script>


<div class="chart-wrap">
    <svg class="chart daily-change" id="svg-daily-change-chart-{{abbr}}"></svg>
</div>


<script src="{{ '/assets/js/charts/dailyChange.js?v=' | append: site.github.build_revision | relative_url }}"></script>


<script>
    renderChangeChart('svg-daily-change-chart-{{abbr}}', '{{abbr}}')
</script>
