<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-geo.v1.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>

<style>

    .state {
      fill: #ddf;
      stroke: #ffd;
      stroke-linejoin: round;
    }

    .state:hover{
        fill: #ccf;
        stroke: #520;
        cursor: pointer;
        z-index: 99999;
    }

    #mapbox{
        height: 700px;
        width: 980px;
    }

    #mapwrap{
        border: thin solid #fef;
    }
</style>


<h2>my american map</h2>

<section id="mapwrap">


        <svg id="mapbox"></svg>


</section>

<script src="{{ '/assets/js/charts/nationMap.js?v=' | append: site.github.build_revision | relative_url }}"></script>
