---
layout: base
permalink: /
---

{% comment %}
    dont need to add nation row to states table for now...
{% assign table_entities = "" | split: ',' %}
{% assign table_entities = table_entities | push: site.data.summary.nation %}
{% assign table_entities = table_entities | concat: site.data.summary.states %}
{% endcomment %}

{% assign table_entities = site.data.summary.states %}

{% assign nation = site.data.summary.nation  %}


<div class="homepage">




    <section class="above-fold sec">
        <div class="container">
            {% include homepage/above-fold.html %}
        </div>
    </section>


    <section class="hero sec">
        {% include homepage/hero.html %}
    </section>

    <section class="nation-map sec">
        {% include homepage/homepage-nation-map.html %}
    </section>





    <section class="states-table sec">
        <div class="container">
            {% include homepage/home_table.html entities=table_entities %}
        </div>
    </section>



</div>
