---
layout: base
permalink: /
---

{ assign table_entities = "" | split: ',' %}
{ assign entities = entities | push: site.data.summary.nation %}
{ assign entities = entities | concat: site.data.summary.states %}
{% assign table_entities = site.data.summary.states %}


<section class="hero">

    <div class="container">
        <h1 class="site-title">
            Covid USA
        </h1>

        <h3>testing testing</h3>
        <p>

            <strong>super awesome description goes here</strong>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium asperiores illum alias inventore voluptas animi sed est nesciunt aspernatur. Tenetur natus autem dolor laudantium amet quisquam distinctio similique aperiam voluptatem?

        </p>

    </div>
</section>

<section class="tkmap">
    <div class="container">
        {% include charts/nation-map.html %}
    </div>

</section>



<div class="container">


    {% include homepage/home_table.html entities=table_entities %}



</div>
