---
layout: default
---
{% assign entity_id = page.page_id %}
{% assign entity = site.data.entities[entity_id] %}
{% assign latest = entity.latest  %}


<div>
    {{entity_id}} Records count: {{ edata.records | size}}
</div>

<section class="latest sec">
    <h2>Latest as of {{latest.date}}</h2>
    <div>
        Confirmed: {{latest.confirmed}}
    </div>
    <div>
        Deaths: {{latest.deaths}}
    </div>
</section>


<section class="bigolcharts sec">
    <h2>CHARTS CHARTS</h2>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Confirmed</h3>
                {% include charts/daily-counts.html entity_id=entity_id%}

            </div>


            <div class="col-sm">
                <h3>Change</h3>
                {% include charts/daily-change.html entity_id=entity_id %}
            </div>

        </div>
    </div>
</section>

<section class="daily sec">
    <h2>Daily Table</h2>

    {% include charts/daily-table.html records=entity.records %}
</section>




<hr>

<code>
    {{pagedata}}
</code>

